/* Nav styles */

.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        margin-bottom: $mb-4;
    }

    &__logo {
        font-weight: $font-semi-bold;
    }

    &__toggle,
    &__shop {
        font-size: 1.3rem;
        cursor: pointer;
    }

    &__link:hover {
        text-decoration: 2px underline solid $dark-color;
        transition: 0.2s ease;
    }

    @include tablet {
        .nav__menu {
            position: fixed;
            top: $header-height;
            left: -100%;
            width: 70%;
            height: 100vh;
            padding: 2rem;
            background-color: $white-color;
            transition: .5s;

            &.show {
                left: 0;
            }
        }
    }

    @include laptop {
        height: calc(#{$header-height} + 1.5rem);

        &__menu {
            margin-left: auto;
        }

        &__list {
            display: flex;
        }

        &__item {
            margin-left: $mb-6;
            margin-bottom: 0;
        }

        &__toggle {
            display: none;
        }
    }
}